tex/coamoeba/plot/F0_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/F0_2_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/F0_3_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/F0_4_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
./tex/coamoeba/plot/F0_(65 filter=lfs diff=lfs merge=lfs -text
65 filter=lfs diff=lfs merge=lfs -text
2 filter=lfs diff=lfs merge=lfs -text
128 filter=lfs diff=lfs merge=lfs -text
128).bin filter=lfs diff=lfs merge=lfs -text
./tex/coamoeba/plot/F0_2_(65 filter=lfs diff=lfs merge=lfs -text
./tex/coamoeba/plot/F0_3_(65 filter=lfs diff=lfs merge=lfs -text
./tex/coamoeba/plot/F0_4_(65 filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/F0_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/F0_2_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/F0_3_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/F0_4_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/CZ2Z2_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP0_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP0_2_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP1_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP3_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/Y40_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/CZ2Z2_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP0_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP0_2_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP1_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP1_2_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP3_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/dP3_2_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/F0_5_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
tex/coamoeba/plot/Y40_(65,[[:space:]]65,[[:space:]]2,[[:space:]]128,[[:space:]]128).bin filter=lfs diff=lfs merge=lfs -text
