:root {
    --dark-bg: rgba(62, 62, 62, 0.548);
    --spacing: 10rem;
  
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
    color: white;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
}


main {
    width: 100vw;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none; /* Keeps your current style without underlining */
    color: #000000; /* Set the default color for unvisited links */
}

a:visited {
    color: #555555; /* Set the color for visited links */
}

a:hover {
    color: #FF5733; /* Set the color when the link is hovered over */
}

a:active {
    color: #C70039; /* Set the color when the link is clicked (active) */
}

.nav_background {
    z-index: 0;
    position: fixed;
    right: 1rem;
    top: 8rem;
    width: 5rem;
    height: 30rem;
    background: var(--dark-bg);
    border-radius: 3rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

nav {
    z-index: 100;
    position: fixed;
    right: 1rem;
    top: 8rem;
    width: 5rem;
    background: transparent;
    font-size: 2.5rem;
    margin-bottom: var(--spacing);

    display: grid;
    grid-template-rows: repeat(4, 1fr);

    border-radius: 3rem;

    justify-content: center;
}

#nav_canvas {
    z-index: 5;
    right: 1rem;
    top: 8rem;
    width: 5rem;
    height: 70%;
    background: transparent;
    position: fixed;
}

.nav_bubble {
    border-radius: 3rem;
    background-color: transparent;
    text-align: center;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    user-select: none;
}

.nav_bubble:hover {
    cursor: pointer;
}

#nav_quiz {
    border-radius: 3rem;
    z-index: 100;
    position: fixed;
    top: 40rem;
    right: 1rem;
    height: 5rem;
    width: 5rem;
    background-color: transparent;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
}

#nav_quiz_bubble {
    width: 4rem;
    height: 4rem;
    text-align: center;
    justify-content: center;
    border-radius: 2rem;
    margin: auto;
    margin-top: 0.5rem;
}

#nav_quiz_bubble:hover {
    background-color: white;
    cursor: pointer;
}

#section_header {
    grid-column: 3 / span 5;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: var(--spacing);
    width: 50rem;
    height: 30rem;
    border-radius: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
#section_header section {
    font-size: 2.5rem;
    background:transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensures content stays at the top */
    padding-top: 0; /* Adjusts padding if needed */
    margin: 0;
}

#section_header img {
    grid-column: 2;
    height: 30rem; /* Full height of the section */
    width: 100%; /* Full width of the section */
    object-fit: cover; /* Ensure the image covers the area */
    object-position: center 30%; /* Crop from the center */
    border-radius: 3rem; /* Apply the border-radius to the image */
}

section {
    background: var(--dark-bg);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    grid-column: 2 / 8;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.1;
    margin-bottom: var(--spacing);
    border-radius: 2rem;
}

#section_education img {
    height: 10rem; /* Full height of the section */
    width: 100%; /* Full width of the section */
    object-fit: cover; /* Ensure the image covers the area */
    object-position: center 30%; /* Crop from the center */
    border-radius: 3rem; /* Apply the border-radius to the image */
}

#section_accomplishments img {
    height: 10rem; /* Full height of the section */
    width: 100%; /* Full width of the section */
    object-fit: cover; /* Ensure the image covers the area */
    object-position: center 30%; /* Crop from the center */
    border-radius: 3rem; /* Apply the border-radius to the image */
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 8;
    margin-bottom: var(--spacing);
    text-align: center;
}

blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

.right {
    grid-column: 6 / 12;
}

.svgTitle {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 4rem 1fr;
}

.svgTitle div {
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.sectionLogo {
    width: 2.5rem;
    height: auto;
    margin-top: 0.3rem;
    object-fit: unset;
    object-position: unset;
    border-radius: 0;
}

footer {
    background: var(--dark-bg);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    color: black;
    text-align: center;
    background-color: white;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: 0;
}

@media all and (orientation: portrait) {
    header {
        grid-column: 2 / span 10;
    }
    section {
        grid-column: 2 / 11;
    }
    .right {
        grid-column: 2 / 11;
    }
}

/*# sourceMappingURL=main.css.map*/