@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap');

body {
    background-color: black;
    color: white;
    overflow-y: hidden;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.quiz {
    width: 50em;
    margin: auto;
    margin-top: 2rem;
}

.quiz_question, .quiz_answer {
    text-align: center;
    height: 20em;
    background-color: rgb(70, 70, 70);
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 2em;
}

.timer {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}